**/build
*.bat
**/msvc/Debug*
**/msvc/Release*
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.aps
**/msvc/*.pch
**/msvc/*.txt
**/msvc/.vs
**/msvc/ipch
**/PublishPath*.txt
**/*.log

metamod/version/appversion.h
publish
